<?xml version="1.0" encoding="utf-8"?>
<manifest package="gulajava.speedcepat"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
          android:versionCode="10"
          android:versionName="2.0.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"/>

    <application
        android:name=".UkurCepatApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeCompat">

        <activity
            android:name=".splashscreen.LoadingSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".mainmenus.MainMenuActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".setelan.SetelanAplikasiActivity"
            android:exported="false"
            android:label="@string/judul_kartu_setelbatas"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".hitungkecepatan.HitungKecepatanActivity"
            android:exported="false"
            android:label="@string/teks_judul_hitungkecepatan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>


    </application>

</manifest>